{% extends "WebBackBundle:Layout:layouts.html.twig" %}

{% block bigTitle %}Edit News{% endblock %}
{% block bigDescription %}Edit News of WebSite{% endblock %}
{% block subName %}<a href="">Edit News</a>{% endblock %}
{% block icon %}fa fa-file-o{% endblock %}

{% block body %}

    {% include "WebBackBundle:Newsfeed:index/index_content.html.twig" %}

{% endblock %}