<!-- Project Feed -->
<div class="project-feed project-feed__4cols row">

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(1).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(2).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(3).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(4).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(5).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(6).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(7).jpg" alt="" />
        </figure>
    </div>
</div>


<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(8).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(9).jpg" alt="" />
        </figure>
    </div>
</div>
<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(10).jpg" alt="" />
        </figure>
    </div>
</div>
<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(11).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(12).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(13).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(14).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(15).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(16).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(17).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(18).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(20).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(19).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(21).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(22).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(23).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-itemitem-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(24).jpg" alt="" />
        </figure>
    </div>
</div>

<div class="col-sm-6 col-md-3 project-item design logo">
    <div class="project-item-inner">
        <figure class="alignnone project-img">
            <img src="/assets/images/logo/(25).jpg" alt="" />
        </figure>
    </div>
</div>

</div>
<!-- Project Feed / End -->