<section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div style="position: relative; overflow: hidden; height: 1590px;" class="project-feed project-feed__2cols row isotope">
                    <div style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);" class="col-sm-12 col-md-12 project-item design logo isotope-item">

                {% for attachment in newsfeed.attachment %}

                    <div class="project-item-inner">
                        <figure class="alignnone project-img">
                            <img src="{{ asset(attachment.getFullPath) }}" alt="">
                            <div class="overlay">
                                <a href="{{ asset(attachment.getFullPath) }}" class="dlink"><i class="fa fa-link"></i></a>
                                <a href="{{ asset(attachment.getFullPath) }}" class="popup-link zoom"><i class="fa fa-search-plus"></i></a>
                            </div>
                        </figure>

                    </div>

                {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                {% if locale() == 'zh_CN' %}
                <wb:share-button appkey="2isBLN" addition="number" type="button" default_text="我找到了一个很有意思的新闻,你们也来看看吧" ralateUid="2298078305"></wb:share-button>
                {% endif %}
                {{ newsfeed.content | keywords | raw }}

            </div>
        </div>
    </div>
</section>