{% extends "AppFrontBundle:Layout:layout.html.twig" %}

{% block body %}

    <section class="page-content">
        <div class="container">
            <a name="roll1"></a>
            <div class="row" id="roll1">

                <div class="title-accent">
                    <h3><span>What</span> does Makoto Mean?</h3>
                </div>
                <blockquote class="animation fadeInLeft animation-visible" data-animation="fadeInLeft">
                    <div class="row">
                        <div class="col-md-2" align="center">
                            <img src="/assets/images/chen.png" alt="Stability">
                        </div>
                        <div class="col-md-10">
                            The first <strong class="quotes-color">“Makoto”</strong> means <em class="em-color">SINCERITY</em>.  People need to know you are sincere and that you see potential in them and the lean program.  If you have their best in mind, then it is quite easy to get buy-in.
                        </div>

                    </div>
                </blockquote>
                <blockquote class="animation fadeInLeft animation-visible" data-animation="fadeInLeft">
                    <div class="row">
                        <div class="col-md-2" align="center">
                            <img src="/assets/images/zhen.png" alt="Stability">
                        </div>
                        <div class="col-md-10">
                            The second <strong class="quotes-color">“Makoto”</strong> means <em class="em-color">TRUTH</em>.  One of the most important concepts is to know the truth and show the truth whether that be in visual or just sharing information.  Without knowing the truth, the team cannot make the right decisions.
                        </div>
                    </div>
                </blockquote>
                <blockquote class="animation fadeInLeft animation-visible" data-animation="fadeInLeft">
                    <div class="row">
                        <div class="col-md-2" align="center">
                            <img src="/assets/images/xin.png" alt="Stability">
                        </div>
                        <div class="col-md-10">
                            The third <strong class="quotes-color">“Makoto”</strong> means <em class="em-color">TRUST or BELIEF</em>.  We believe in the potential of people which is why we invest in training, giving them time and authority to make changes.  We look forward to them surprising us with their creativity.
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </section>

{% endblock %}