<div class="tp-banner-holder">
<div class="tp-banner-container">
<div class="tp-banner" >
<ul>
<!-- SLIDE #1  -->
<li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-delay="8000" >
<!-- MAIN IMAGE -->
<img src="/assets/images/samples/slide-bg.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

<!-- LAYERS -->

<!-- LAYER NR. 1 -->
<div class="tp-caption large_bold_white customin customout"
     data-x="center" data-hoffset="0"
     data-y="center" data-voffset="0"
     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-speed="500"
     data-start="1000"
     data-easing="Back.easeOut"
     data-splitin="none"
     data-splitout="none"
     data-elementdelay="0.1"
     data-endelementdelay="0.1"
     data-endspeed="500"
     data-endeasing="Power4.easeIn"
     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
    <img height="100%"  src="/assets/images/dna.png" alt="Stability" />
</div>


<!-- LAYER NR. 2 -->
<div class="tp-caption modern_medium_white lfl customout"
     data-x="340"
     data-hoffset="-10"
     data-y="150"
     data-voffset="30"
     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-speed="1500"
     data-start="1100"
     data-easing="Back.easeInOut"
     data-splitin="none"
     data-splitout="none"
     data-elementdelay="0.1"
     data-endelementdelay="0.1"
     data-endspeed="500"
     data-endeasing="Power4.easeIn"
     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#fff;">
    <strong><em>Learning&nbsp;&nbsp;<span style="color:#57b5ff;">Happens <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;by Doing</span>
        </em></strong>

</div>

<!-- LAYER NR. 2 LINE-->
<div class="tp-caption modern_medium_white lfl customout"
     data-x="510"
     data-hoffset="-10"
     data-y="200"
     data-voffset="30"
     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-speed="1500"
     data-start="1000"
     data-easing="Back.easeInOut"
     data-splitin="none"
     data-splitout="none"
     data-elementdelay="0.1"
     data-endelementdelay="0.1"
     data-endspeed="500"
     data-endeasing="Power4.easeIn"
     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#fff;">
    <img src="/assets/images/top-a1.png" />

</div>






<!-- LAYER NR. 3 -->
<div class="tp-caption modern_medium_white lfl customout"
     data-x="650"
     data-hoffset="-10"
     data-y="150"
     data-voffset="30"
     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-speed="1500"
     data-start="2100"
     data-easing="Back.easeInOut"
     data-splitin="none"
     data-splitout="none"
     data-elementdelay="0.1"
     data-endelementdelay="0.1"
     data-endspeed="500"
     data-endeasing="Power4.easeIn"
     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#FFF;">
    <strong><em>Transformations&nbsp;&nbsp;<span  style="color:#57b5ff;">Require <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reflections</span></em></strong>
</div>

<!-- LAYER NR. 3 LINE -->
<div class="tp-caption modern_medium_white lfl customout"
     data-x="790"
     data-hoffset="-10"
     data-y="200"
     data-voffset="30"
     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-speed="1500"
     data-start="2000"
     data-easing="Back.easeInOut"
     data-splitin="none"
     data-splitout="none"
     data-elementdelay="0.1"
     data-endelementdelay="0.1"
     data-endspeed="500"
     data-endeasing="Power4.easeIn"
     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#FFF;">
    <img src="/assets/images/top-a1.png">
</div>

<!-- LAYER NR. 4 -->
<div class="tp-caption modern_medium_white lfl customout"
     data-x="220"
     data-hoffset="-10"
     data-y="380"
     data-voffset="30"
     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-speed="1500"
     data-start="3100"
     data-easing="Back.easeInOut"
     data-splitin="none"
     data-splitout="none"
     data-elementdelay="0.1"
     data-endelementdelay="0.1"
     data-endspeed="500"
     data-endeasing="Power4.easeIn"
     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#fff;">
    <strong><em>Leadership&nbsp;&nbsp;<span  style="color:#57b5ff;">Actions <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;that Impact</span></em></strong>
</div>

<!-- LAYER NR. 4 LINE-->
<div class="tp-caption modern_medium_white lfl customout"
     data-x="400"
     data-hoffset="-10"
     data-y="340"
     data-voffset="30"
     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-speed="1500"
     data-start="3000"
     data-easing="Back.easeInOut"
     data-splitin="none"
     data-splitout="none"
     data-elementdelay="0.1"
     data-endelementdelay="0.1"
     data-endspeed="500"
     data-endeasing="Power4.easeIn"
     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#FFF;">
    <img src="/assets/images/down-a1.png">

</div>

<!-- LAYER NR. 5 -->
<div class="tp-caption modern_medium_white lfl customout"
     data-x="520"
     data-hoffset="-10"
     data-y="380"
     data-voffset="30"
     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-speed="1500"
     data-start="4000"
     data-easing="Back.easeInOut"
     data-splitin="none"
     data-splitout="none"
     data-elementdelay="0.1"
     data-endelementdelay="0.1"
     data-endspeed="500"
     data-endeasing="Power4.easeIn"
     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#FFF;">
    <strong><em>Seeing&nbsp;&nbsp;<span  style="color:#57b5ff;">is Believing </span>
        </em></strong>

</div>

<!-- LAYER NR. 5 LINE-->
<div class="tp-caption modern_medium_white lfl customout"
     data-x="580"
     data-hoffset="-10"
     data-y="340"
     data-voffset="30"
     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-speed="1500"
     data-start="4100"
     data-easing="Back.easeInOut"
     data-splitin="none"
     data-splitout="none"
     data-elementdelay="0.1"
     data-endelementdelay="0.1"
     data-endspeed="500"
     data-endeasing="Power4.easeIn"
     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#FFF;">
    <img src="/assets/images/down-a1.png"/>

</div>

<!-- LAYER NR. 6 -->
<div class="tp-caption modern_medium_white lfl customout"
     data-x="790"
     data-hoffset="-10"
     data-y="380"
     data-voffset="30"
     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-speed="1500"
     data-start="5100"
     data-easing="Back.easeInOut"
     data-splitin="none"
     data-splitout="none"
     data-elementdelay="0.1"
     data-endelementdelay="0.1"
     data-endspeed="500"
     data-endeasing="Power4.easeIn"
     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#FFF;">
    <em><strong>Behaviors&nbsp;&nbsp;<span  style="color:#57b5ff;">Matter when<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;applying Tools</span></strong></em>

</div>

<!-- LAYER NR. 6 LINE-->
<div class="tp-caption modern_medium_white lfl customout"
     data-x="830"
     data-hoffset="-10"
     data-y="340"
     data-voffset="30"
     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
     data-speed="1500"
     data-start="5000"
     data-easing="Back.easeInOut"
     data-splitin="none"
     data-splitout="none"
     data-elementdelay="0.1"
     data-endelementdelay="0.1"
     data-endspeed="500"
     data-endeasing="Power4.easeIn"
     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#000;">
    <img src="/assets/images/down-a1.png">

</div>

</li>


<!-- SLIDE #2  -->
<li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-delay="6000" >
    <!-- MAIN IMAGE -->
    <img src="/assets/images/samples/slide-bg.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption finewide_small_white customin customout tp-resizeme"
         data-x="center" data-hoffset="0"
         data-y="center" data-voffset="-80"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="500"
         data-easing="Power3.easeInOut"
         data-splitin="chars"
         data-splitout="chars"
         data-elementdelay="0.08"
         data-endelementdelay="0.08"
         data-endspeed="500"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">We believe in
    </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption stability_graydivider2px customin customout tp-resizeme"
         data-x="center" data-hoffset="-120"
         data-y="center" data-voffset="-78"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="700"
         data-start="800"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="500"
         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
    </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption stability_graydivider2px customin customout tp-resizeme"
         data-x="center" data-hoffset="120"
         data-y="center" data-voffset="-78"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="700"
         data-start="800"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="500"
         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
    </div>

    <!-- LAYER NR. 4 -->
    <div class="tp-caption stability_large_white randomrotate customout tp-resizeme"
         data-x="center" data-hoffset="0"
         data-y="center" data-voffset="-20"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="500"
         data-easing="Power3.easeInOut"
         data-splitin="chars"
         data-splitout="chars"
         data-elementdelay="0.08"
         data-endelementdelay="0.08"
         data-endspeed="500"
         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">The "Makoto Way" its in our DNA!
    </div>
</li>


<!-- SLIDE #3  -->
<li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-delay="6000" >
    <!-- MAIN IMAGE -->
    <img src="/assets/images/samples/slide-bg.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption large_bold_white customin customout"
         data-x="center" data-hoffset="0"
         data-y="center" data-voffset="-40"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1000"
         data-easing="Back.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
        <img height="100%"  src="/assets/images/time.png"  alt="Stability" />
    </div>


    <!-- LAYER NR. 2 -->
    <div class="tp-caption mediumwhitebg customin customout"
         data-x="center" data-hoffset="-1"
         data-y="center" data-voffset="120"
         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1200"
         data-easing="Back.easeOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="500"
         data-endeasing="Power4.easeIn"
         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">OVER 26 YEARS OF EXPERIENCE IN HELPING OTHERS CHANGE
    </div>
</li>


<!-- SLIDE #3  -->
<li data-transition="random" data-slotamount="7" data-masterspeed="1000" data-delay="6000" >
    <!-- MAIN IMAGE -->
    <img src="/assets/images/samples/slide-bg.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-caption finewide_small_white customin customout tp-resizeme"
         data-x="center" data-hoffset="0"
         data-y="center" data-voffset="-80"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="500"
         data-easing="Power3.easeInOut"
         data-splitin="chars"
         data-splitout="chars"
         data-elementdelay="0.08"
         data-endelementdelay="0.08"
         data-endspeed="500"
         style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Welcome to
    </div>

    <!-- LAYER NR. 2 -->
    <div class="tp-caption stability_graydivider2px customin customout tp-resizeme"
         data-x="center" data-hoffset="-120"
         data-y="center" data-voffset="-78"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="700"
         data-start="800"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="500"
         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
    </div>

    <!-- LAYER NR. 3 -->
    <div class="tp-caption stability_graydivider2px customin customout tp-resizeme"
         data-x="center" data-hoffset="120"
         data-y="center" data-voffset="-78"
         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="700"
         data-start="800"
         data-easing="Power3.easeInOut"
         data-splitin="none"
         data-splitout="none"
         data-elementdelay="0.1"
         data-endelementdelay="0.1"
         data-endspeed="500"
         style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
    </div>

    <!-- LAYER NR. 4 -->
    <div class="tp-caption stability_large_white randomrotate customout tp-resizeme"
         data-x="center" data-hoffset="-188"
         data-y="center" data-voffset="-20"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="500"
         data-easing="Power3.easeInOut"
         data-splitin="chars"
         data-splitout="chars"
         data-elementdelay="0.08"
         data-endelementdelay="0.08"
         data-endspeed="500"
         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Makoto
    </div>

    <!-- LAYER NR. 4 -->
    <div class="tp-caption stability_large_white randomrotate customout tp-resizeme"
         data-x="center" data-hoffset="188"
         data-y="center" data-voffset="-20"
         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
         data-speed="500"
         data-start="1300"
         data-easing="Power3.easeInOut"
         data-splitin="chars"
         data-splitout="chars"
         data-elementdelay="0.08"
         data-endelementdelay="0.08"
         data-endspeed="500"
         style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Global
    </div>

</li>




</ul>
</div>
</div>
</div>
<!-- Slider / End -->
