{% extends "WebBackBundle:Layout:layouts.html.twig" %}

{% block bigTitle %}Add/Edit Case Category{% endblock %}
{% block bigDescription %}Edit Content of WebSite ( Whole Pages except for news ){% endblock %}
{% block subName %}<a href="">Edit News</a>{% endblock %}
{% block icon %}fa fa-pencil{% endblock %}

{% block body %}

    {{ form(form) }}

{% endblock %}