{% extends "WebBackBundle:Layout:layouts.html.twig" %}

{% block bigTitle %}Manage History Line{% endblock %}
{% block bigDescription %}Manage History Line{% endblock %}
{% block subName %}<a href="">Manage History Line</a>{% endblock %}
{% block icon %}fa fa-clock{% endblock %}

{% block body %}


    <div class="row">

        <!-- Messages List -->
        <div class="col-sm-12 col-lg-12">

            <div class="block">

                <div class="block-title">
                    <h2>Add new event on history line</h2>
                </div>

                {% include "WebBackBundle:History:index/index_content.html.twig" %}
            </div>

        </div>
        <!-- END Messages List -->
    </div>



{% endblock %}