{% extends "WebBackBundle:Layout:layouts.html.twig" %}

{% block bigTitle %}Edit Team Members{% endblock %}
{% block bigDescription %}Edit the members of team{% endblock %}
{% block subName %}<a href="">Edit Team Members</a>{% endblock %}
{% block icon %}fa fa-users{% endblock %}

{% block body %}

    {% include "WebBackBundle:Team:list/index_content.html.twig" %}

{% endblock %}